# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Environment variables
.env
.env.local
.env*.local

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Temporary files
*.tmp
*.temp

